$primary-color-dark : #001a0d;
$primary-color : #005e2f;
$primary-color-transparent: rgba(0, 94, 47,0.5);
$secondary-color: #28834c;
$secondary-color-transparent: rgba(40, 131, 76,0.5);
$tertiary-color: #cdf3a2;
$outside-color: #ff9500;
$lightgray-color: #F6F6F6;
$white-color: #FFF;

$primary-font:  'Bebas Neue', cursive;
$secondary-font: 'Poppins', sans-serif;
