.accountactivatedcontainer{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    .accountactivated{
        display: inline-block;
        text-align: center;
        width: 50%;
        .accountactivated__para{
            padding: 0.5rem;
        }
    }
}