.blog__heading{
    text-align: center;
    margin-bottom: 5rem;
}

.blockscontainer{
    width: 90%;
    margin: 0  auto 2rem;
    .blocks{
        
        .blocks__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include phonexl{
                justify-content: center;
            }
            @include phone{
                justify-content: center;
            }
            .blocks__item{
                .blocks__id{
                    display: none;
                }
                .blocks__image{
                    width: 50%;
                }
                .blocks__title{
                    margin: 0;
                }
                .blocks__ratings{
    
                }
            }
        }
    }
}