.blogcontent__main{
    width: 90%;
    display: flex;
    margin: 4rem auto 0;
    .sidebarcontainer{
        flex: 0 0 20%;
    }
    .blogcontent__article{
        flex: 0 0 80%;
    }
}



.bloglisting{
    .blocks__image{
        width: 100%;
    }
}


.listing__main{
    .listing__content{
        .productsingle{
            .blocks__image{
                width: 100%;
            }
        }
    }
}