.dodontContainer{
    width: 90%;
    margin: 4rem auto;
    .dodont{
        .dodont__info{
            padding: 0;
            width: 50%;
            margin: 0 auto 3rem;
            .dodont__head{
                text-align: center;
            }
            .dodont__para{
                text-align: center;
            }
        }
        .dodont__lists{


            @include desktop(){
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
            @include large(){
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }

            @include phone(){
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .dodont__listlist{
                    width: 100%;
                    padding-left: 100px;
                }
            }
            @include phonexl(){
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .dodont__listlist{
                    width: 100%;
                    padding-left: 100px;
                }
            }
            @include tab(){
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .dodont__listlist{
                    width: 100%;
                }
            }
            @include tabxl(){
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .dodont__listlist{
                    width: 50%;
                }
            }
            
            .dodont__listlist{
                list-style-type: none;
                .dodont__listitem{
                    display: grid;
                    grid-template-columns: 10% 90%;
                    .dodont__listitemiconcheck{
                        color: green;
                    }
                    .dodont__listitemiconcross{
                        color: red;
                    }
                }
            }
        }
    }
}