.hamburger{
    cursor: pointer;
    font-size: 26px;
    padding: 10px;
    color: $primary-color;
}

@include large{
    .hamburger{
        display: none;
    }
}

@include desktop{
    .hamburger{
        display: none;
    }
}

@include tabxl{
    .hamburger{
        display: none;
    }
}