.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;
    .header__icons{
        .header__serachicon{
            font-size: 26px;
            padding: 10px;
            color: $primary-color;
            cursor: pointer;
        }
        .header__search{
            position: static;
            right: 10px;
            .header__searchfieldn{
                display: none;
            }
            .header__searchfieldy{
                display: block;
            }
            .header__seachresult{
                position: static;
                top: 5vh;
            }
        }
    }
}
