.hero{
    display: flex;
    min-height: 70vh;
    justify-content: center;
    background: url("../images/signup-bg.jpg");
    align-items: center;
    .hero__content{
        display: inline-block;
        text-align: center;
        color: white;
        .hero__heading{
            font-weight: 800;
            padding-bottom: 2rem;
        }    
    }
}