.reviews__heading{
    text-align: center;
    margin-bottom: 3rem;
}
.reviews{
    list-style-type: none;
    width: 90%;
    margin: auto;
    .reviews__listitem{
        width: 45%;
        margin: auto;
    }
}