.reviews__heading{
    text-align: center;
    margin-bottom: 3rem;
}
.reviews{
    list-style-type: none;
    width: 90%;
    margin: auto;
    margin-bottom: 120px;

    @include phone(){
        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
        }

        .slick-dotted.slick-slider .slick-prev {
            left: 15px;
        }
        .slick-dotted.slick-slider .slick-next {
            right: 15px;
        }
    }
    @include phonexl(){
        .slick-dotted.slick-slider .slick-prev {
            left: 15px;
        }
        .slick-dotted.slick-slider .slick-next {
            right: 15px;
        }

        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
        }


    }
    @include tab(){
        .slick-dotted.slick-slider .slick-prev {
            left: 15px;
        }
        .slick-dotted.slick-slider .slick-next {
            right: 15px;
        }

        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
        }


    }
    @include tabxl(){
        .slick-dotted.slick-slider .slick-prev {
            left: 15px;
        }

        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
        }

    }


    .reviews__listitem{
        width: 45%;
        margin: auto;
        .review__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}




.reviews__form{
    margin-bottom: 3rem;
    .reviews__hidden{
        display:none;
    }
    .reviews__center{
        margin: auto;
        width: 33%;
    }
}



@include desktop(){

    .slick-dotted.slick-slider {
        margin-bottom: 130px;
        .slick-prev {
            left: 200px;
        }
        .slick-next {
            right: 200px;
        }
    }

}

@include large(){

    .slick-dotted.slick-slider {
        margin-bottom: 130px;
        .slick-prev {
            left: 200px;
        }
        .slick-next {
            right: 200px;
        }
    }

}