.sidebarcontainer{
    @include phone{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -1rem;
        background-color: #cad5e8;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        padding-left: 1rem;
    }
    @include phonexl{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -1rem;
        background-color: #cad5e8;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        padding-left: 1rem;
    }
    @include tab{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: -1rem;
            background-color: #cad5e8;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            padding-left: 1rem;
    }
    .sidebar{
        margin-right: 2rem;
        @include tab{
            .sidebar__closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
              }              
        }
        @include phone{
            .sidebar__closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
              }              
        }
        @include tabxl{
            .sidebar__closebtn {
              display: none;
              }              
        }
        @include desktop{
            .sidebar__closebtn {
              display: none;
              }              
        }
        @include large{
            .sidebar__closebtn {
              display: none;
              }              
        }
        .sidebar__listcont{
            .sidebar__title{
                display: flex; 
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }
            .sidebar__list{
                padding: 0;
                list-style: none;
                .sidebar__listitem{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}
.sidebar__open{
    border: none;
    background-color: $primary-color;
    color: white;
    margin: 1rem;
}

@include desktop{
    .sidebar__open{
        display: none;
    }
}

@include large{
    .sidebar__open{
        display: none;
    }
}

@include tabxl{
    .sidebar__open{
        display: none;
    }
}
