.submit{
    background: $outside-color;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: $secondary-font;
}

.submit--center{
    display: block;
    margin: 0 auto 4rem;
}