@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

p, a, li {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.center {
  text-align: center;
}

tbody {
  background-color: white;
}

.nintycenter {
  width: 90%;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
}

.header .header__icons .header__serachicon {
  font-size: 26px;
  padding: 10px;
  color: #005e2f;
  cursor: pointer;
}

.header .header__icons .header__search {
  position: absolute;
  right: 10px;
}

.header .header__icons .header__search .header__searchfieldn {
  display: none;
}

.header .header__icons .header__search .header__searchfieldy {
  display: block;
}

.header .header__icons .header__search .header__seachresult {
  position: absolute;
  top: 5vh;
}

.navbar .navbar__list {
  list-style-type: none;
}

.navbar .navbar__list .navbar__listlink {
  text-decoration: none;
  color: #005e2f;
}

.navbar .navbar__list .navbar__listlink .navbar__listitem {
  display: inline;
  padding: 20px;
}

.navbar--active {
  position: absolute;
  top: 90px;
  left: 0;
  display: block;
  background-color: #28834c;
}

.navbar--active .navbar__list {
  width: 40vw;
}

.navbar--active .navbar__list .navbar__listlink .navbar__listitem {
  display: block;
  color: white;
}

@media (min-width: 601px) and (max-width: 900px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 300px) {
  .navbar {
    display: none;
  }
}

.hamburger {
  cursor: pointer;
  font-size: 26px;
  padding: 10px;
  color: #005e2f;
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .hamburger {
    display: none;
  }
}

.formContainer {
  background: url("../images/signup-bg.jpg");
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer .form {
  background-color: rgba(0, 94, 47, 0.5);
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

.formContainer .form .form__label {
  color: white;
  font-family: "Poppins", sans-serif;
}

.formContainer .form .form__input {
  border: none;
  outline: none;
  background: #F6F6F6;
  padding: 7px 0px 7px 35px;
  border-radius: 5px;
}

.formContainer .form .form__icon {
  color: #005e2f;
  position: absolute;
  padding: 5.5px 0 5px 10px;
}

.formContainer .form .submit {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 5;
      grid-row-start: 5;
}

@media (min-width: 601px) and (max-width: 900px) {
  .formContainer .form {
    display: block;
  }
  .formContainer .form .form__label {
    display: none;
  }
  .formContainer .form .form__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .formContainer .form .form__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
  .formContainer .form .submit {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .formContainer .form {
    display: block;
  }
  .formContainer .form .form__label {
    display: none;
  }
  .formContainer .form .form__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .formContainer .form .form__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
  .formContainer .form .submit {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
}

@media (max-width: 300px) {
  .formContainer .form {
    display: block;
  }
  .formContainer .form .form__label {
    display: none;
  }
  .formContainer .form .form__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .formContainer .form .form__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
  .formContainer .form .submit {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
}

.submit {
  background: #ff9500;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.submit--center {
  display: block;
  margin: 0 auto 4rem;
}

.submit--fullwidth {
  width: 100%;
  margin-top: 1rem;
}

.footercontainer {
  background-color: #005e2f;
  color: #F6F6F6;
}

.footercontainer .footer {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

.footercontainer .footer .footersectionone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.footercontainer .footer .footersectionone .footer__section .footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footercontainer .footer .footersectionone .footer__section .footer__list .footer__listitem .footer__listitemlink {
  color: #FFF;
  text-decoration: none;
}

.footercontainer .footer .footersectionone .footer__section .footer__secheading {
  color: #FFF;
  padding-bottom: 1rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .footercontainer .footer .footersectionone .footer__section .footer__secheading {
    text-align: center;
  }
  .footercontainer .footer .footersectionone .footer__section .footer__list {
    text-align: center;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .footercontainer .footer .footersectionone .footer__section .footer__secheading {
    text-align: center;
  }
  .footercontainer .footer .footersectionone .footer__section .footer__list {
    text-align: center;
  }
}

@media (max-width: 300px) {
  .footercontainer .footer .footersectionone .footer__section .footer__secheading {
    text-align: center;
  }
  .footercontainer .footer .footersectionone .footer__section .footer__list {
    text-align: center;
  }
}

.footercontainer .footer .footersectiontwo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.footercontainer .footer .footersectiontwo .footerinfo .footerinfo__heading {
  color: #FFF;
  padding-bottom: 1rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 4rem;
  padding-bottom: 1rem;
}

.footercontainer .footer .footersectiontwo .footerinfo .footerinfo__heading .footerinfo__paragrapgh {
  padding: 0;
  margin: 0;
}

.footercontainer .footer .footersectiontwo .footersectiontwo__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.5rem;
}

.footercontainer .footer .footersectiontwo .footersectiontwo__right .logo {
  position: absolute;
  right: 0;
}

@media (min-width: 601px) and (max-width: 900px) {
  .footercontainer .footer .footersectiontwo .footersectiontwo__right {
    display: none;
  }
}

@media (max-width: 300px) {
  .footercontainer .footer .footersectiontwo .footersectiontwo__right {
    display: none;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .footercontainer .footer .footersectiontwo .footersectiontwo__right {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .footercontainer .footer .footersectiontwo {
    display: block;
  }
  .footercontainer .footer .footersectionone {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footercontainer .footer .footer--lastsection {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 1rem;
  }
}

@media (max-width: 300px) {
  .footercontainer .footer .footersectiontwo {
    display: block;
  }
  .footercontainer .footer .footersectionone {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footercontainer .footer .footer--lastsection {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 1rem;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .footercontainer .footer .footersectiontwo {
    display: block;
  }
  .footercontainer .footer .footersectionone {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footercontainer .footer .footer--lastsection {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 1rem;
  }
}

.newsletter {
  width: 80%;
  margin: auto;
}

.newsletter .newsletter__input {
  border: none;
  outline: none;
  background: #F6F6F6;
  padding: 9px 0px 9px 35px;
  border-radius: 5px;
  width: 100%;
}

.newsletter .newsletter__icon {
  color: #005e2f;
  position: absolute;
  padding: 13px 0 5px 10px;
}

.newsletter .submit {
  width: 100%;
}

.videosContainer {
  width: 90%;
  margin: 4rem auto;
}

.videosContainer .videos .videos__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
}

.videosContainer .videos .videos__main .videos__playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videosContainer .videos .videos__main .videos__playing .videos__play {
  min-width: 90%;
}

.videosContainer .videos .videos__main .videos__description .videos__title {
  font-size: 40px;
}

.videosContainer .videos .videos__secondary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
}

.videosContainer .videos .videos__secondary .videos__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videosContainer .videos .videos__secondary .videos__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videosContainer .videos .videos__secondary .videos__arrow {
  font-size: 50px;
}

.videosContainer .videos .videos__secondary .videos__item {
  position: relative;
}

.videosContainer .videos .videos__secondary .videos__item .videos__thumbnail {
  max-width: 300px;
  height: 163px;
}

.videosContainer .videos .videos__secondary .videos__item:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.videosContainer .videos .videos__secondary .videos__active:after {
  background: none;
  width: 100%;
  height: 100%;
}

.images .images__image {
  height: 100vh;
}

.dodontContainer {
  width: 90%;
  margin: 4rem auto;
}

.dodontContainer .dodont .dodont__info {
  padding: 0;
  width: 50%;
  margin: 0 auto 3rem;
}

.dodontContainer .dodont .dodont__info .dodont__head {
  text-align: center;
}

.dodontContainer .dodont .dodont__info .dodont__para {
  text-align: center;
}

.dodontContainer .dodont .dodont__lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dodontContainer .dodont .dodont__lists .dodont__listlist {
  list-style-type: none;
}

.dodontContainer .dodont .dodont__lists .dodont__listlist .dodont__listitem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
}

.dodontContainer .dodont .dodont__lists .dodont__listlist .dodont__listitem .dodont__listitemicon {
  background-color: #28834c;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.blockscontainer {
  width: 90%;
  margin: 0  auto 2rem;
}

.blockscontainer .blocks .blocks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 301px) and (max-width: 600px) {
  .blockscontainer .blocks .blocks__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 300px) {
  .blockscontainer .blocks .blocks__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blockscontainer .blocks .blocks__list .blocks__item .blocks__id {
  display: none;
}

.blockscontainer .blocks .blocks__list .blocks__item .blocks__title {
  margin: 0;
}

.bannercontainer {
  margin: 0 auto;
  background: url("../images/signup-bg.jpg");
}

.bannercontainer .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20rem;
}

.bannercontainer .banner .banner__heading {
  color: #FFF;
}

.listing__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 4rem auto;
}

.listing__main .sidebarcontainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.listing__main .listing__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 300px) {
  .listing__main .listing__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .listing__main .listing__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.listing__main .blockscontainer--singleblock {
  margin: 0 10px 10px;
  width: auto;
}

@media (max-width: 300px) {
  .sidebarcontainer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .sidebarcontainer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .sidebarcontainer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
}

.sidebarcontainer .sidebar {
  margin-right: 2rem;
}

@media (min-width: 601px) and (max-width: 900px) {
  .sidebarcontainer .sidebar .sidebar__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

@media (max-width: 300px) {
  .sidebarcontainer .sidebar .sidebar__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .sidebarcontainer .sidebar .sidebar__closebtn {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .sidebarcontainer .sidebar .sidebar__closebtn {
    display: none;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .sidebarcontainer .sidebar .sidebar__closebtn {
    display: none;
  }
}

.sidebarcontainer .sidebar .sidebar__listcont .sidebar__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarcontainer .sidebar .sidebar__listcont .sidebar__list {
  padding: 0;
  list-style: none;
}

.sidebarcontainer .sidebar .sidebar__listcont .sidebar__list .sidebar__listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__open {
  border: none;
  background-color: #005e2f;
  color: white;
  margin: 1rem;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .sidebar__open {
    display: none;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .sidebar__open {
    display: none;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .sidebar__open {
    display: none;
  }
}

.block {
  margin: 0 5px 10px;
  position: relative;
}

.block .block__info .blocks__title, .block .block__info .blocks__range, .block .block__info .blocks__price, .block .block__info .blocks__category, .block .block__info .blocks__region, .block .block__info .blocks__weather {
  margin: 0;
}

.block .block__info .blocks__range, .block .block__info .blocks__price, .block .block__info .blocks__category, .block .block__info .blocks__region, .block .block__info .blocks__weather {
  display: none;
}

.block .block__info .blocks__id {
  position: absolute;
  opacity: 0;
}

.block:hover .block__info {
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 1rem;
}

.block:hover .block__info .blocks__range, .block:hover .block__info .blocks__price, .block:hover .block__info .blocks__category, .block:hover .block__info .blocks__region, .block:hover .block__info .blocks__weather {
  display: block;
}

.block:hover .block__info .blocks__title, .block:hover .block__info .blocks__range, .block:hover .block__info .blocks__price, .block:hover .block__info .blocks__category {
  padding-bottom: 0.5rem;
}

.blogcontent__main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem auto 0;
}

.blogcontent__main .sidebarcontainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.blogcontent__main .blogcontent__article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.userinfocontainer {
  width: 40%;
  text-align: center;
  margin: 4rem auto;
}

.userinfocontainer .userinfo .userinfo__ele {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 1rem;
  background: rgba(0, 94, 47, 0.5);
  color: #FFF;
}

.accountactivatedcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}

.accountactivatedcontainer .accountactivated {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.accountactivatedcontainer .accountactivated .accountactivated__para {
  padding: 0.5rem;
}

.aboutubcontinaer {
  width: 80%;
  margin: 4rem auto;
}

.aboutubcontinaer .aboutub {
  text-align: center;
}

.aboutubcontinaer .aboutub .aboutub__head {
  margin-bottom: 1rem;
}

.twocolcontainer {
  margin: 4rem 0;
}

.twocolcontainer .twocol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twocolcontainer .twocol .twocol__single {
  position: relative;
  padding: 2rem;
  min-height: 10rem;
  background: url("../../images/signup-bg.jpg");
}

.contactcontainer {
  width: 90%;
  margin: auto;
}

.contactcontainer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactcontainer .contact__block {
  background: rgba(0, 94, 47, 0.5);
  padding: 4rem;
  color: white;
}

.contactcontainer .contact__block .contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactcontainer .contact__block .contact__info .fas, .contactcontainer .contact__block .contact__info .fab {
  font-size: 50px;
}

.authorinfocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.authorinfocontainer .authorinfo {
  width: 50%;
  text-align: center;
}

.authorinfocontainer .authorinfo .authorinfo__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.cartitemcontainer {
  margin: 1rem 0;
}

.cartitemcontainer .cartitem {
  width: 60%;
  position: relative;
  margin: auto;
}

.cartitemcontainer .cartitem .cartitem__close {
  position: absolute;
  right: 0;
  font-size: 30px;
}

.cartitemcontainer .cartitem .cartitem__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartitemcontainer .cartitem .cartitem__content .cartitem__info {
  padding: 0 0 0 1rem;
}

.transport {
  text-align: center;
  margin: 4rem 0;
}

.checkoutformContainer {
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkoutformContainer .checkoutform {
  background-color: rgba(0, 94, 47, 0.5);
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

.checkoutformContainer .checkoutform .checkoutform__label {
  color: white;
  font-family: "Poppins", sans-serif;
}

.checkoutformContainer .checkoutform .checkoutform__input {
  border: none;
  outline: none;
  background: #F6F6F6;
  padding: 7px 0px 7px 35px;
  border-radius: 5px;
}

.checkoutformContainer .checkoutform .checkoutform__icon {
  color: #005e2f;
  position: absolute;
  padding: 10px 0 5px 10px;
}

.checkoutformContainer .checkoutform .submit {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 5;
      grid-row-start: 5;
}

@media (min-width: 601px) and (max-width: 900px) {
  .checkoutformcontainer .checkoutform {
    display: block;
  }
  .checkoutformcontainer .checkoutform .checkoutform__label {
    display: none;
  }
  .checkoutformcontainer .checkoutform .checkoutform__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .checkoutformcontainer .checkoutform .checkoutform__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
  .checkoutformcontainer .checkoutform .submit {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .checkoutformcontainer .checkoutform {
    display: block;
  }
  .checkoutformcontainer .checkoutform .checkoutform__label {
    display: none;
  }
  .checkoutformcontainer .checkoutform .checkoutform__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .checkoutformcontainer .checkoutform .checkoutform__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
  .checkoutformcontainer .checkoutform .submit {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
}

@media (max-width: 300px) {
  .checkoutformcontainer .checkoutform {
    display: block;
  }
  .checkoutformcontainer .checkoutform .checkoutform__label {
    display: none;
  }
  .checkoutformcontainer .checkoutform .checkoutform__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .checkoutformcontainer .checkoutform .checkoutform__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
  .checkoutformcontainer .checkoutform .submit {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
}

.contactdir .contactdir__head {
  text-align: center;
}

.contactdir__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  margin: 4rem auto;
  border: 1px solid #005e2f;
  border-radius: 10px;
  padding: 1rem;
}

.contactdir__contact .contactdir__contactfirst .contactdir__contactimage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contactdir__contact .contactdir__contactsecond .contactdir__contactinfoname {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.contactdir__contact .contactdir__contactsecond .contactdir__contactinfoparagrapgh {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.contactdir__contact .contactdir__contactthird .contactdir__itemrating {
  margin: 0;
  padding: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/signup-bg.jpg");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__content {
  display: inline-block;
  text-align: center;
  color: white;
}

.hero .hero__content .hero__heading {
  font-weight: 800;
  padding-bottom: 2rem;
}

/* This section is imported from unboxing pakistan blog and does not use BEM model */
.list .title h1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 25px;
  font-family: Poppins,Arial, Helvetica, sans-serif;
}

.list .map-slider {
  margin-left: -30px;
}

.list .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .area .text {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  font-size: 14px;
  margin-top: 15px;
  color: #28834c;
}

.list .area .arrow {
  padding: 6px 0;
}

.slider-img {
  height: 100%;
  text-align: center;
  padding: 2rem;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gall-h1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: Poppins,Arial, Helvetica, sans-serif;
}

.pt130 {
  padding-top: 130px;
}

@media screen and (max-width: 768px) {
  .pt130 {
    margin-top: 90px;
  }
}

.gallery {
  height: 100%;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .cols-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64%;
          flex: 0 0 64%;
}

@media (max-width: 767px) {
  .gallery .cols-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery .row {
  padding: 0;
  margin: 0;
}

.gallery .col {
  padding: 0;
  margin: 0;
}

.gallery .col-sm-4 {
  padding: 0;
  margin: 0;
}

.gallery .col-sm-8 {
  padding: 0;
  margin: 0;
}

.gallery .col-sm-6 {
  padding: 0;
  margin: 0;
}

.gallery h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  font-size: 22px;
  word-break: break-word;
}

.gallery p {
  padding: 0;
  margin: 0;
  color: white;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  font-family: Maitree,Georgia, serif;
  color: white;
}

.gallery .main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 90%;
  margin: auto;
}

.gallery .first {
  background: url("../images/1.jpg");
  margin: 0 35px 0 0;
  border-radius: 5px;
  min-height: 200px;
}

@media (max-width: 767px) {
  .gallery .first {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  .gallery .first {
    max-height: 200px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery .first .content {
  padding: 30px;
  position: absolute;
  bottom: 0;
}

.gallery .col8-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55%;
}

.gallery .second {
  background: url("../images/2.jpg");
  width: 100%;
  position: relative;
  margin: 0 0 35px 0;
  border-radius: 5px;
  min-height: 200px;
}

@media (max-width: 767px) {
  .gallery .second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery .second .content {
  padding: 30px;
  position: absolute;
  bottom: 0;
}

.gallery .col8-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.gallery .third {
  background: url("../images/3.jpg");
  width: 48%;
  margin-right: 35px;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.5%;
          flex: 0 0 47.5%;
  min-height: 200px;
}

@media (max-width: 767px) {
  .gallery .third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery .third .content {
  padding: 30px;
  position: absolute;
  bottom: 0;
}

.gallery .fourth {
  background: url("../images/4.jpg");
  width: 48%;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.5%;
          flex: 0 0 47.5%;
  min-height: 200px;
}

@media (max-width: 767px) {
  .gallery .fourth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery .fourth .content {
  padding: 30px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .gall-h1 {
    padding-top: 0;
  }
  .gallery {
    margin-bottom: 55rem;
  }
  .gallery .container {
    width: 100%;
  }
  .gallery .main-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery .main-row .first {
    width: 100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 35px 0;
  }
  .gallery .main-row .second {
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 35px 0;
  }
  .gallery .main-row .third {
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 35px 0;
  }
  .gallery .main-row .fourth {
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 35px 0;
  }
  .gallery .main-row .cols-8 {
    width: 100%;
    height: 100%;
  }
  .gallery .main-row .col8-1 {
    height: unset;
  }
  .gallery .main-row .col8-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.instatravelers {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 300px) {
  .instatravelers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .instatravelers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 300px) {
  .instatravelers .instatravelers__item {
    padding-bottom: 1rem;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .instatravelers .instatravelers__item {
    padding-bottom: 1rem;
  }
}

.visasidebar .visasidebar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visasidebar .visasidebar__list .visasidebar__listitem {
  cursor: pointer;
}

.visainfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visainfo .visasidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visainfo .visasidebar .visasidebar__list {
  text-align: center;
}

.visainfo .visainfo__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.adddestinationformContainer {
  background: url("../images/signup-bg.jpg");
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adddestinationformContainer .adddestinationform {
  background-color: rgba(0, 94, 47, 0.5);
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

.adddestinationformContainer .adddestinationform .adddestinationform__label {
  color: white;
  font-family: "Poppins", sans-serif;
}

.adddestinationformContainer .adddestinationform .adddestinationform__input {
  border: none;
  outline: none;
  background: #F6F6F6;
  padding: 7px 0px 7px 35px;
  border-radius: 5px;
}

.adddestinationformContainer .adddestinationform .adddestinationform__icon {
  color: #005e2f;
  position: absolute;
  padding: 5.5px 0 5px 10px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .adddestinationformContainer .adddestinationform {
    display: block;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__label {
    display: none;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .adddestinationformContainer .adddestinationform {
    display: block;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__label {
    display: none;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
}

@media (max-width: 300px) {
  .adddestinationformContainer .adddestinationform {
    display: block;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__label {
    display: none;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__input {
    border: none;
    outline: none;
    background: #F6F6F6;
    padding: 7px 0px 7px 35px;
    border-radius: 5px;
  }
  .adddestinationformContainer .adddestinationform .adddestinationform__icon {
    color: #005e2f;
    position: absolute;
    padding: 5.5px 0 5px 10px;
  }
}

.reviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.reviews .reviews__listitem {
  list-style-type: none;
}

.reviews .reviews__listitem .reviews__listitemcontent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
}

.reviews .reviews__listitem .reviews__listitemcontent .reviews__listitemicon {
  background-color: #28834c;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.map {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
}
/*# sourceMappingURL=main.css.map */