.formContainer{
    .form{
        .form__loginlinkurl{
            color: $outside-color;
        }
    }
}  

.userinfocontainer{
    width: 100%;
}

.reviews__form {
    .reviews__center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.instatravelers__name{
    text-decoration: none;
    color: black;
}

.instatravelers_itemimage{
    height: 250px;
    width: 180px;
}

.visainfo__main{
    width: 70%;
}

.listing__content{
    display: flex;
    flex-wrap: wrap;
}

.blocks__image{
    width: 400px;
    height: 400px;
}